<div class="container text-center">
    <img class="img-fluid" [src]="PathToImage">
    <p class="lead fst-italic">
        Mitä mie laitan päälle?
    </p>
    <p class="lead">
        - Häidemme pukukoodina on puku. Tämä tarkoittaa, että miehet voivat pukeutua minkä tahansa väriseen pukuun, ja housut voivat myös olla takin kanssa eri paria. Naiset taas voivat pukeutua lyhyeen tai pitkään mekkoon mielensä mukaan, ja myös esim. juhlava housupuku sopii hyvin.
    </p>
    <br><br>
    <p class="lead fst-italic">
        Mitäs kaikkea siellä Strömforsin ruukkialueella on?
    </p>
    <p class="lead">
        - Alueen palvelut on kattavasti kuvattu Strömforsin ruukkialueen nettisivuilla, <a href="https://stromforsinruukki.com/">https://stromforsinruukki.com/</a>. 
    </p>
    <br><br>
    <p class="lead fst-italic">
        Vielä jäi jotain painamaan mieltä, miten saan teidät kiinni?
    </p>
    <p class="lead">
        - Voit aina kysyä meiltä apuja tai lisätietoja juhliin liittyen, joko itse kutsusta löytyvien yhteystietojemme kautta, tai sähköpostista veerajajani2022@gmail.com
    </p>
    <br><br>
</div>