<div class="container text-center">
    <img class="img-fluid" [src]="PathToImage">
    <h2>Mitä missä milloin</h2>
    <p class="lead">
        23.7.2022
    </p>
    <p class="lead">
        Menemme naimisiin (Loviisan) Ruotsinpyhtäällä 
    </p>
    <p class="lead">
        Vihkiminen alkaa klo 15.00 Ruotsinpyhtään kirkossa
    </p>    
    <p class="lead">
        Vihkimisen jälkeen juhlamenoja jatketaan Petjärven vanhalla navetalla    
    </p>
    <p class="lead">
        n. 23.30 asti. 
    </p>
    <p class="lead">
        Tosijuhlijat voivat siirtyä tämän jälkeen takaisin Ruukkialueelle jatkoille. 
    </p>
    <br>
    <p class="lead">
        Ruotsinpyhtään kirkko: Ruukintie 11 , 07970 Ruotsinpyhtää
    </p>    
    <p class="lead">
        Petjärven vanha navetta: Petjärventie 59, 07970 Ruotsinpyhtää.
    </p>
</div>