<div class="container text-center">
    <img class="img-fluid" [src]="PathToImage">
    <p class="lead">
        Ilmoittaudu häihin alla olevasta linkistä (avaa Google Formsin) tai ottamalla yhteyttä Veeraan ja Janiin.
    </p>
    <p class="lead">
        Ilmoittauduthan 25.6.2022 mennessä.
    </p>
    <p class="lead">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSexF0r5NHHTl82--oZOtQVfIk-DcDK8xY9AazfxlnbR-8_TdQ/viewform?usp=sf_link">Google Forms ilmoittautuminen</a>
    </p>
</div>