<div class="container text-center">
    <img class="img-fluid" [src]="PathToImage">
    <p class="lead">
        Ilmoitattehan osallistumisestanne viimeistään 25.6. joko suoraan Janille tai Veeralle, tai alla olevan lomakkeen kautta.
    </p>
    <p class="lead">
        Ilmoitattehan samalla mahdollisista ruokarajoitteista,
    </p>
    <p class="lead">
        tai tarvitsisitko yhteiskuljetusta juhlapäivänä kirkko-juhlapaikka-majoitus
    </p>    
    <p class="lead">
        (ruukkialueella tai Loviisassa) –välillä. Tarvittaessa voimme järjestää 
    </p>
    <p class="lead">
        yhteiskuljetusta, jos halukkaita on tarpeeksi. 
    </p>
</div>