<app-header></app-header>
<p-divider></p-divider>
<app-core-information></app-core-information>
<p-divider></p-divider>
<app-rsvp></app-rsvp>
<p-divider></p-divider>
<app-basic-information></app-basic-information>
<p-divider></p-divider>
<app-getting-there></app-getting-there>
<p-divider></p-divider>
<app-staying></app-staying>
<p-divider></p-divider>
<app-gifting></app-gifting>
<p-divider></p-divider>
<app-googleforms></app-googleforms>
<p-divider></p-divider>
<app-googlemaps></app-googlemaps>
<p-divider></p-divider>
<app-footer></app-footer>