<div class="container text-center">
    <img class="img-fluid" [src]="PathToImage">
    <p class="lead">
        Strömforsin ruukin alueelta on mahdollista varata majoitusta.
    </p>
    <p class="lead">
        Bed & Bistro Kartano sekä Bed & Bistro Krouvinmäki tarjoavat majoitusta ruukkialueen ytimessä. Olemme tehneet ennakkovaraussopimuksen Bed & BIstro:n kanssa, ja vieraidemme varaukset menevät muiden mahdollisten huonevarausten ohi, kun varauksen yhteydessä käyttää koodia: "XXX". Varaukset on tehtävä 31.5.2022 mennessä.
    <p class="lead">
        Bed & Bistro Kartanossa on 13 vuodepaikkaa, joista 3 kpl 1 hengen huoneita. Huoneet ovat remontoituja ja siistejä, mutta vanhan kartanon luonteen vuoksi wc- ja suihkutilat ovat huoneiden kesken yhteisiä, ja sijaitsevat käytällä. Myös Bed & Bistro Krouvinmäessä suihkut ja wc:t sijaitsevat käytävillä, myös inva-wc löytyy. Krouvinmäen majatalossa on käytössä yhteiskeittiö ruoanvalmistukseen, ruokailuun ja oleskeluun. 
    </p>
    <p class="lead">
        Majoitusta on myös tarjolla mm. Loviisassa, jonne on matkaa juhlapaikalta n. 19 km. 
    </p>    
    <p class="lead">
        Varatessasi huoneen Hotelli Unisesta, saat 10% alennuksen käyttämällä koodia "XXX". Koodi on voimassa 22.7.2022 asti, mutta otathan huomioon että Hotelli Uniseen meillä ei ole ennakkovaraussopimusta. 
    </p>
    <p class="lead">
        Majoitusta löytyy myös alueen Airbnb-kohteista, ja vuokrattavista loma-asunnoista.
    </p>
    <p class="lead">
        Teethän mahdolliset majoitusvaraukset hyvissä ajoin.
    </p>
</div>