<div class="container text-center">
    <img class="img-fluid" [src]="PathToImage">
    <p class="lead">
        Strömforsin ruukin alueelta on mahdollista varata majoitusta.
    </p>
    <p class="lead">
        <a href="https://stromforsinruukki.com/majoitu/stromfors-bed-bistro-2/">Bed & Bistro Kartano</a> sekä <a href="https://stromforsinruukki.com/majoitu/krouvinmaki/">Bed & Bistro Krouvinmäki</a> tarjoavat majoitusta ruukkialueen ytimessä. Olemme tehneet ennakkovaraussopimuksen Bed & Bistro:n kanssa. Teethän varauksesi viimeistään 31.5.2022 käyttämällä koodia LEINO23. Huoneen voit varata soittamalla numeroon 010 504 7100, tai sähköpostilla info@bedandbistro.fi. Varauskalenterin kautta varaaminen ei onnistu ennakkovaraussopimuksen takia (huoneet on alustavasti varattu häävieraillemme tuohon päivämäärään saakka.) 
    <p class="lead">
        Bed & Bistro Kartanossa on 13 vuodepaikkaa, joista 3 kpl 1 hengen huoneita. Huoneet ovat remontoituja ja siistejä, mutta vanhan kartanon luonteen vuoksi wc- ja suihkutilat ovat huoneiden kesken yhteisiä, ja sijaitsevat käytällä. Myös Bed & Bistro Krouvinmäessä suihkut ja wc:t sijaitsevat käytävillä, myös inva-wc löytyy. Krouvinmäen majatalossa on käytössä yhteiskeittiö ruoanvalmistukseen, ruokailuun ja oleskeluun. 
    </p>
    <br>
    <p class="lead">
        Majoitusta on myös tarjolla mm. Loviisassa, jonne on matkaa juhlapaikalta n. 19 km. 
    </p>    
    <p class="lead">
        Varatessasi huoneen Loviisasta Hotelli Unisesta, saat 10% alennuksen käyttämällä koodia VJ2022. Koodi on voimassa 22.7.2022 asti, mutta otathan huomioon että Hotelli Uniseen meillä ei ole ennakkovaraussopimusta. 
    </p>
    <br>
    <p class="lead">
        Majoitusta löytyy myös alueen Airbnb-kohteista, ja vuokrattavista loma-asunnoista. 
    </p>
    <p class="lead">
        Esimerkkeinä: 
    </p>
    <p class="lead">
        <a href="https://stromforsinruukki.com/majoitu/__trashed-2/">Willa Westers</a> - Strömforsin ruukkialueella, valmistuu toukokuussa 2022
    </p>
    <p class="lead">
        Majoituspalvelu Fishing Cottages - <a href="https://www.fishingcottage.fi/huvilat.php?id=106">Krouvinmäen huoneistot</a>
    </p>
    <p class="lead">
        Kartanonmäen talossa on kuusi 6 henkilön rivitalohuoneistoa. Tällä hetkellä majoitus on tarkoitettu ensisijaisesti pitkäaikaiseen käyttöön, mutta lähempänä juhlapäivää, esim. hääviikolla kysyttäessä he voivat vuokrata huoneistoja myös lyhytaikaiseen käyttöön jos vapaata on. 
    </p>
    <p class="lead">
        <a href="https://kotteria.com/vuokramokit/vuokramokki_kivikoski/">Kivikosken</a> - vuokramökki Ruotsinpyhtäällä, n. 10km juhlapaikasta
    </p>
    <br>
    <p class="lead">
        Teethän mahdolliset majoitusvaraukset hyvissä ajoin. 
    </p>
    <p class="lead">
        Kaikki majoituskohteet ovat omakustanteisia. 
    </p>
    <br><br>
</div>