<div class="container text-center">
    <img class="img-fluid" [src]="PathToImage">
    <p class="lead">
        Vihkiminen alkaa klo 15.00 Ruotsinpyhtään kirkossa, osoite Ruukintie 11 , 07970 Ruotsinpyhtää. Saavuttehan ajoissa paikalle.
    </p>
    <p class="lead">
        Strömforsin ruukkiin on vain tunnin matka Helsingistä E18 moottoritietä pitkin. Kotkasta ajelee Strömforsiin E18 moottoritietä pitkin puolisen tuntia ja Kouvolasta Länsi-Kymen kulttuuritietä pitkin 50 minuuttia.
    <p class="lead">
        https://stromforsinruukki.com/
    </p>
    <p class="lead">
        Kirkon läheisyydessä on vain muutamia parkkipaikkoja, säästäthän nämä ihmisille joiden on vaikea kulkea kirkkoalueelle. Strömforsin ruukin pysäköintialueella on runsaasti parkkipaikkoja, ja alueelta on kirkkoon n. 300m. Pysäköintialueen sijainnin näet alla olevasta kartasta. 
    </p>    
    <p class="lead">
        Petjärvellä on myös hyvin pysäköintimahdollisuuksia. Kun saavut juhlapaikalle, pysäköithän autosi merkatulle parkkialueelle tien oikealle puolelle. Tien vasemmanpuoleinen alue ei kuulu juhlapaikkaamme, vaan on yksityisomistuksessa. 
    </p>
    <p class="lead">
        Kirkosta juhlapaikalle on myös mahdollista kulkea yhteiskuljetuksella.
    </p>
</div>