<div class="container text-center">
    <img class="img-fluid" [src]="PathToImage">
    <p class="lead">
        Strömforsin ruukkiin on n. tunnin matka Helsingistä E18 moottoritietä pitkin. Kotkasta ajelee Strömforsiin E18 moottoritietä pitkin puolisen tuntia ja Kouvolasta Länsi-Kymen kulttuuritietä pitkin 50 minuuttia.
    </p>
    <p class="lead">
        <a href="https://stromforsinruukki.com/">https://stromforsinruukki.com/</a>
    </p>
    <br>
    <p class="lead">
        Kirkon läheisyydessä on vain muutamia parkkipaikkoja, säästäthän nämä ihmisille joiden on vaikea kulkea kirkkoalueelle. Strömforsin ruukin pysäköintialueella on runsaasti parkkipaikkoja, ja parkkialueelta on kirkkoon n. 300m. Pysäköintialueen sijainnin näet alla olevasta kartasta. 
    </p>
    <img class="img-fluid" [src]="PathToMap">
    <br><br>
    <p class="lead">
        Juhlapaikkana toimii Petjärven vanha navetta.
    </p>
    <p class="lead">
        Petjärvellä on myös hyvin pysäköintimahdollisuuksia. Kun saavut juhlapaikalle, pysäköithän autosi merkatulle parkkialueelle tien oikealle puolelle. Tien vasemmanpuoleinen alue ei kuulu juhlapaikkaamme, vaan on yksityisomistuksessa. 
    </p>
    <p class="lead">
        <a href="https://petjarvenvanhanavetta.com/">https://petjarvenvanhanavetta.com/</a>
    </p>
    <br>
    <p class="lead">
        Kirkosta juhlapaikalle järjestetään todennäköisesti jonkinlaista yhteiskuljetusta, jos halukkaita on tarpeeksi. Jos yhteiskuljetusta järjestetään, päivtämme tiedon sivuille mahdollisimman pian. Kurkkailethan siis sivuja mahdollisten päivitysten varalta, tai kysele asiasta Veeralta tai Janilta. 
    </p>
    <p class="lead">
        Bussi lähtisi vihkimisen jälkeen alustavan arvion mukaan kirkolta juhlapaikalle n. klo 15.30-16.00, ja matkaa juhlapaikalle on n. 2.3 km. Bussilla pääsisi myös takaisin juhlapaikalta ruukkialueelle klo 00.00, kun juhlat Petjärvellä tulevat päätökseen. Jos halukkaita on tarpeeksi, bussi voi jatkaa Ruukkialueelta matkaansa Loviisaan hotelli Uniseen. 
    </p>
    <br>
    <p class="lead">
        Loviisan alueella taksin saat mm. täältä: 
    </p>
    <p class="lead">
        Taksikuljetus Hill Ky - 040 010 5465
    </p>
    <p class="lead">
        <a href="https://www.taksihill.fi/">https://www.taksihill.fi/</a>
    </p>
    <br>
    <p class="lead">
        Taksi Loviisa - 0800 02120 
    </p>
    <p class="lead">
        <a href="https://meneva.fi/fi/palvelualueet/uusimaa/loviisa">https://meneva.fi/fi/palvelualueet/uusimaa/loviisa</a>
    </p>
    <p class="lead">
        Lataa Menevän taksisovellus: 
    </p>
    <p class="lead">
        Android: <a href= "https://play.google.com/store/apps/details?id=uk.riide.meneva">https://play.google.com/store/apps/details?id=uk.riide.meneva</a>
    </p>
    <p class="lead">
        iPhone: <a href= "https://apps.apple.com/fi/app/meneva/id1403831005?ls=1">https://apps.apple.com/fi/app/meneva/id1403831005?ls=1</a>
    </p>
    <br><br>
</div>